* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* Navber */
.nav-title {
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}

.specify-font {
    color: orange;
}

.btn-main {
    height: 64px;
    background-color: orange;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    line-height: 27px;
    border: 0;
    padding: 18px 35px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul li {
    margin-left: 50px;

}

/* Banner */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner-intru {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
}

.banner-discription {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    /* background-image: url(../images/developer.png); */
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}

.about-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;

}

.about-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    text-align: center;
    margin-bottom: 40px;
}

.about-info-box {
    display: flex;
    justify-content: space-around;
}

.about-info {}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do section */
.what-i-do {
    /* text-align: center; */
}

.do-title {
    font-weight: 700;
    font-size: 35px;
    margin-top: 130px;
    margin-bottom: 30px;
    text-align: center;

}

.do-detiles {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin: 0 345;
    text-align: center;
    margin-bottom: 50px;
}

.skill-box {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-bottom: 130px;
    padding-left: 30px;
    padding-right: 33px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}



/* resumi section */
.summury {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 113px;

}

.resumi-content {
    display: flex;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    color: #474747;

}

.resumi-education {
    margin-top: 30px;
}

.title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}

.sub-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* contact section */

.contact {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 230px;
    margin-bottom: 28px;
    padding-bottom: 28px;

}

.contact input,
textarea {
    border: 0;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 18px;
    padding-left: 30px;
    
}

input {
    height: 64px;
}

textarea {
    padding-top: 20px;
    height: 180px;
}

.contact-p {
    
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    color: #474747;
}
input [type="name"]{
    margin-top: 28px;
}
.contact-section-title{
    margin-bottom: 28px;
}
.contact a{
    text-decoration: none;
    padding-right: 10px;
}